p {
  font-size: large;
}

strong {
  font-size: large;
}

.heading-text {
  font-size: 65pt;
}

.dark-green-theme {
  background-color: #044649;
}

.green-theme {
  background-color: #0D6E73;
}

.container-padding-2em {
  padding-top: 2em;
  padding-bottom: 7em;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid rgb(255, 255, 255) !important;
  border-bottom: 1px solid rgba(255,255,255, 0) !important;
}

@media only screen and (max-width: 767px) {
  .ui.container.program {
    width: 90%!important;
    margin-left: 1em!important;
    margin-right: 1em!important;
  }

  .heading-text {
    font-size: 40pt;
  }
} 